body{
    color: #333333;
}

.btn-primary{
    background-color: #3368C6; 
    border-color: #3368C6; 
    color: #ffffff;
}

h1,h2,h3,h4,h5{
    color: #3368C6;
}

.navbar .navbar-nav .nav-link{
    color: #3368C6;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #3368C6;
    border: 15px solid #3368C6;
}


.bg-primary {
    background-color: #3368C6 !important;
}

.bg-secondary{
    background-color: #3368C6 !important;
}

.bg-dark{
    background-color: #3368C6 !important;
}

.page-header{
    background: linear-gradient(rgba(3, 27, 78, .3), rgba(3, 27, 78, .3)), url(../img/exterior\ laba\ geodatax.jpg) center center no-repeat;
    background-size: cover;
}


.img-fluid{
    /* max-width: 100%; */
    height: 306px;
    width: 306px;
}

.mb-1 {
    margin-bottom: .10rem !important;
    font-size: 1rem;
}